* {
  margin: 0;
}

/* Color Scheme:
green: 38695E
lime green: C8E479
dark blue: 1B2535
 */
html, body {
  background-color: #DB2017;
  height: 100%;
}

.header {
  background-color: #1E2738;
  color: #FDE272;
  font-size: 36px;
  font-family: 'Rock Salt', cursive;
  text-align: center;
  text-shadow: 5px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.header_copy {
  background-color: #FDE272;
  color: #DB2017;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding-top: 2%;
  padding-bottom:2%;
}

.footer-wrapper {
  display: block;
  padding: 8px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -160px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 160px;
}

.site-footer {
  background-color: #1E2738;
  color: #FDE272;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-top:60px;
  padding-top: 22px;
}

.footer-copy {
  float: left;
  margin-left:32px;
  margin-right:32px;
  font-size: 12px;
}


.social-icon {
  height: 20px;
  width: 20px;
  float: right;
  margin-right:32px;
}

/* Expandable Items List */

.wrapper{
  margin: auto;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 96%;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

label{
  display: block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #DB2017;
  border-bottom: none;
  background: #DB2017;
  color: #FDE272;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

label:hover{
  background: #FDE272;
  color: #DB2017;
}

label.last{
  border-bottom: 1px solid #DB2017;
}

ul ul li{
  padding: 10px;
  background: #DB2017;
}


input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1);
}

input[type="checkbox"]:checked + label{
  background: #1E2738;
  border-bottom: 1px solid #DB2017;
}




@media only screen and (min-width: 767px) {

  .header_copy {
    font-size: 20px;
  }

  .social-icon {
    height: 32px;
    width: 32px;
    float: right;
    margin-right:32px;
  }

  .footer-copy {
    float: left;
    margin-left:32px;
    font-size: 16px;
  }

}

@media only screen and (min-width: 1023px) {
  .header {
    font-size: 48px;
  }

  .header_copy {
    font-size: 20px;
  }

  .social-icon {
    height: 32px;
    width: 32px;
    float: right;
    margin-right:32px;
  }

  .footer-copy {
    float: left;
    margin-left:32px;
    font-size: 16px;
  }



}
